@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap%27');

* {
    margin: 0;
}

body {
    font-family: 'Indie Flower', cursive;
}

header {
    background-color: #EEE;
    height: 80px;
}

header h1 {
    font-size: 42px;
    text-align: center;
    display: block;
    margin: 0 auto;
    justify-content: center;
}

main {
    background: url('wallpaper.jpg');
    background-position: fixed;
    background-size: cover;
    height: calc(100vh - 80px);
}

.icon {
    padding-left: 30px;
    height: 80px;
    position: absolute;
}

.icon img {
    width: 100%;
    height: 100%;
    max-width: 90px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formLogin {
    background-color: #EEE;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.formLogin h1 {
    padding-bottom: 10px;
    margin: 0 auto;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.campos {
    width: 50%;
}

.campos input {
    border-radius: 10px;
    border: none;
}

.campos input:focus {
    outline: none;
    padding: 5px;
    font-weight: bolder;
}