<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Climate</title>
</head>
<body>
    <header>
        <div class="icon">
            <img src="{{url_for('static', filename='icon.png') }}" alt="">
        </div>
        
        <div>
            <h1>ClimateCheck</h1>
        </div>
    </header>

    <main>
        <div class="page">
                <div class="formLogin">
                    <h1>Resultado</h1>
                    
                    <h2>Cidade: {{ city }}</h2>
                    <p>Temperatura: <b>{{ temp }}°C</b></p><br>
                    <p>Descrição: <b>{{ description }}</b></p>
                    
                    <form action="{{ url_for('index') }}" method="POST" class="form-button">
                        <input class="button-voltar" type="submit" value="Voltar">
                    </form>
                </div>
        </div> 
    </main>
</body>
</html>